{% extends "base.html" %}

{# Overwrite the meta description block #}
{% block metadesc %}{{ article.description|e}}{% endblock %}
{% block articlemeta %}
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ article.title|e }}" />
  <meta property="og:description" content= "{{ article.description|e}}" />
  <meta property="og:url" content= "{{ article.url }}" />
{% if article.keywords %}
  <meta name="keywords" content="{{ article.keywords  }}">
{% else %}
  <meta name="keywords" content="{{ article.tags|join(', ')  }}">
{% endif %}
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}
{#
{% block header %}
<p>Published on {{ article.locale_date }} By {{AUTHOR}}</p>
{% endblock %}
#}
{% block content %}
<article>
  <div class="article_title">
    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
  </div>
  <div class="article_credits">
     Published {{ article.locale_date }} By {{article.author}}
  </div>
  <div class="article_text">
    {{ article.content }}
  </div>
  <div class="article_meta">
    <p>
	<div style="float:left;width=50%">
		<span class="key">Category:</span> 
		<a href="{{ SITEURL }}/{{ article.category.url }}">
			<span class="value">{{ article.category }}</span>
		</a>
	</div>
	{% if article.tags %}
	<div style="float:right;width=50%">
	  <span class="key">Tags:</span>
      {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">
	      <span class="value">{{ tag }}</span>
		</a>
	  {% if not loop.last %},{% endif %}
      {% endfor %}
    {% endif %}
	</div>
	<div style="clear: both;"></div>
	</p>
	<hr></hr>
  <div>
  {% if TWITTER_HANDLE %}
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{TWITTER_HANDLE}}">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(! d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
  {%endif %}
  <!-- Google plus share button -->
  <!-- Place this tag where you want the share button to render. -->
  <div class="g-plus" data-action="share" data-annotation="bubble"></div>
  <!-- Place this tag after the last share tag. -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
  </script>
  <!-- end of google plus share-->
  <!-- LinkedIn button -->
  <script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: en_US
    </script>
  <script type="IN/Share" data-counter="right"></script>
  <!-- end of LinkedIn share -->
  {% if DISQUS_SITENAME %}
    <div id="article_comments" style="display:{%if COLLAPSE_COMMENTS %}none{% else %}block{% endif %}">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
           var disqus_identifier = "{{ article.url }}";
           (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
    </div>
    {% endif %}

</article>
{% endblock %}

{% block footer %}
<p><a href="{{ SITEURL }}/" class="button_accent">&larr; Back to Index</a></p>
<script language="javascript">
    function toggleComments() {
        var commentDiv = document.getElementById("article_comments");
        (commentDiv.style.display == "none") ? commentDiv.style.display = "block" : commentDiv.style.display = "none";
        return false;
    }
</script>
{% endblock %}
